@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgba(32, 177, 100, 0.2);
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
}

.logo_infos {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28rem;
    width: 90%;
    border-radius: 20px;
    margin: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    max-width: 398px;
    max-height: 447px;
}

.infos {
    align-self: flex-start;
}

.contato {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 20px;
    align-self: flex-start;
}

.endereco {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 20px;
    align-self: flex-start;
}

.mapa {
    width: 90%;
    height: 30rem;
}

.mapa iframe {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 900px) {
    body {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .logo_infos {
        flex-direction: row;
    }
    .logo {
        display: flex;
    }
    .endereco {
        display: flex;
        flex-direction: column;
    }
    .infos {
        display: flex;
        align-self: center;
        justify-content: space-around;
        width: 50%;
        flex-direction: column;
    }
    .contato,
    .endereco {
        margin-top: 20px;
        align-self: unset;
    }
}